@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*
{
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    color: white;
}
.btnProf
{
    font-size: large;
    margin-bottom: -12%;
    text-align: right;
    text-decoration: none;
    border-radius: 32px;
    color: white;
}
.settingsp
{
    margin-top: 3.5%;
    margin-left: 4%;
}