@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* 
{
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}
.menu 
{
  text-align: center;
  font-size: 22px;
  padding: 0px;
  word-spacing: 5px;
  color: blue;
}
.form
{
    text-align: center;
    font-size: 30px;
    padding: 35px;
}
a:link
{
    text-decoration: none;
    color: black;
}